@charset "utf-8";
/* CSS Document */

body{
	margin:0px auto;
	padding:0;
	line-height:1.7;
	list-style:none;
	font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#666;
	font-size:11px;
	background-color:#000;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}	
			
a { color:#638F9C;}

.text{
	margin:3px 0;
}

p{ font-size:11px; margin:0 0 0 20px;}

.box{
	margin:30px 0;}

.center{
	text-align:center;
	margin: auto;
	}
	
.error{
	color:#ff6666;
	margin:5px 0;
	}

.red{
	color:#ff6666;}
	
/*線スタイル*/
hr.style-one {
    border: 0;
	background-color:#aaa;
    height: 1px;
	margin:15px 0 15px 0;
}

hr.dotted{
	border-top:#aaa 1px dotted;
	height:0px;
}


#wrapper{
	width:100%;
	padding:10px 0 0;
	overflow:hidden;
	height:auto;
	background-color:#FFF;
}

#content{
	width:500px;
	margin:50px auto;
	}

.form_wrap{
	clear:both;
	margin:20px auto;
	overflow:hidden;
	width:auto;
	}

#keijiban_wrap{
	clear:both;
	margin:30px 0;
	overflow:hidden;
	}
	
/*サイトロゴ、ログイン名表示部分*/	
header{
	clear:both;
	overflow:hidden;
	margin:0 0 10px 0;
	border-bottom:#666 1px dashed;
}	
	
h1{
	font-size:28px;
	font-family:"Courier New", Courier, monospace;
	font-weight:normal;
	color:#000;
	margin:0px 0 0px 20px;
	width:210px;
	height:45px;
	float:left;
	}
	
.welcome_box{
	width:200px;
	height:30px;
	padding:15px 20px 0 0;
	float:right;
	text-align:right;}
/*サイトロゴ、ログイン名表示部分ここまで*/

h2{
	font-size:11px;
	margin:10px 0 20px 0;
	padding:0 5px;
	font-weight:800;
	border-bottom:#999 1px dotted;
	border-left:3px solid #91D1DA;
	font-weight:normal;
	}
h3{ font-size:11px; margin:0; color:#111; font-weight:normal; margin:15px 0 0 0;}
h4{ margin:10px 0 5px 0; font-size:11px; color:#000;}
h5{ margin:5px 0 5px 20px; font-size:11px; color:#000; font-weight:normal;}


/*上部グローバルナビ*/
#gl_nav{
	clear:both;
	margin:0;
	background-color:#000;
	padding:3px 0px 0px 0;
	overflow:hidden;
	font-size:11px;
	border-bottom:2px solid #91D1DA;
	width:100%;
	}
	
#gl_nav ul li{
	float:left;
	list-style:none;
}

#gl_nav ul li a{
	text-decoration:none;
	color:#FFF;
	display:block;
	padding:5px 20px;
	background-color:#000;
	font-family:"Courier New", "メイリオ", "ヒラギノ角ゴ Pro W3";
}

#gl_nav ul li a:hover{
	color:#91D1DA;
}

/*フォーム部分*/
input{
	width:478px;
	background-color:#fff;
	border:#CCC 1px solid;
	color:#444;
	padding:10px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:11px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	
	-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, .3);	
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	}

input:hover{
	border:#91D1DA 1px solid;
    box-shadow: inset 0 0 6px #91D1DA;
    -moz-box-shadow: inset 0 0 10px #91D1DA;
	-webkit-box-shadow: inset 0 0 6px #91D1DA;	
	}
	
input:focus {
	border:solid 1px #91D1DA;
    box-shadow: inset 0 0 6px #91D1DA;
    -moz-box-shadow: inset 0 0 10px #91D1DA;
	-webkit-box-shadow: inset 0 0 6px #91D1DA;	
}

/*本文*/
textarea{
	font-size:11px;
	width:478px;
	border:#CCC 1px solid;
	color:#444;
	padding:10px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);	
   
   	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	}
		
textarea:hover{
	border:#91D1DA 1px solid;
    box-shadow: inset 0 0 6px #91D1DA;
    -moz-box-shadow: inset 0 0 10px #91D1DA;
   -webkit-box-shadow: inset 0 0 6px #91D1DA;	
}	

textarea:focus {
	border:solid 1px #91D1DA;
    box-shadow: inset 0 0 6px #91D1DA;
    -moz-box-shadow: inset 0 0 10px #91D1DA;
   -webkit-box-shadow: inset 0 0 6px #91D1DA;	
}
		
/*送信ボタン*/
.submit{
	margin:30px 0 0 0;
	background-color:#000;
	color:#FFF;
	width:auto;
	height:auto;
	padding:10px 25px;
	border:none;
	box-shadow:none;
    -moz-box-shadow:none;
	-webkit-box-shadow:none;	
}
	
.submit:hover{
	box-shadow:none;
    -moz-box-shadow:none;
	-webkit-box-shadow:none;	
	background-color:#066;
	border:none;
}	
	
.submit:focus{
	box-shadow:none;
	border:none;
    -moz-box-shadow:none;
	-webkit-box-shadow:none;	
	}	
	
/*その他ボタン*/
.bottun{
	overflow:hidden;
	width:auto;
	height:auto;
	padding:10px 0;
	margin:10px 0 0 0;
}

.bottun a{
	border-radius:5px;
	background-color:#000;
	color:#FFF;
	padding:10px 20px;
	border:none;
	box-shadow:none;
	text-decoration:none;
	}

.bottun a:hover{
	box-shadow:none;
	background-color:#066;
	border:none;
}


/*入力確認画面以後の外枠*/
.textbox{
	border:#bbb solid 1px;
	width:auto;
	height:auto;
	padding:10px 10px;
	margin:0 0 20px 0;
	font-size:12px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#FFF;
	}

/*下部メニュー*/
#sub_nav{
	clear:both;
	padding:30px 0 0 0;
	overflow:hidden;
	font-size:11px;
	margin:0 auto;
	width:245px;
	}
	
#sub_nav ul li{
	float:left;
	list-style:none;
	padding:0 2px 10px 0 ;
}

#sub_nav ul li a{
	width:100px;
	text-align:center;
	text-decoration:none;
	color:#FFF;
	display:block;
	padding:5px 10px;
	background-color:#000;
	border-radius:3px;
	font-family:"Courier New", Courier, monospace;
}

#sub_nav ul li a:hover{
	color:#91D1DA;
}

footer{
	text-align:center;
	margin:30px 0 0 0;
	padding:30px 0;
	font-family:"Courier New", Courier, monospace;
	background-color:#000;
	color:#FFF;
}
	
